@charset "utf-8";

:root{/*colors*/
    --color-a:#0D0D0D;
    --color-b:#F2BD1D;
    --color-c:#118EBF;
    --color-d:#79328C;
    --color-e:#F21D44;
    --color-f:#BF0606;
    --color-g:#BF6B04;
    --color-h:#D98E04;
    --color-i:#1B72BF;
    --color-f:#8C0383;
    --color-g:#838486;
     
    /*fonts*/
     --h1-title-site:font-family: 'Fira Sans', sans-serif;
     }

     *{margin: 0;
       padding: 0;
        box-sizing:content-box;}

    body{font-size: 18px;
         line-height: 25px;
         text-decoration: none;
         
        line-break:auto;}  
        
        
   h1,h2,h3{text-align: center;
           font-weight: bolder ;}    
           
  header{width: 90%;
         height:205px;
          background-color: #118EBF;
          margin: auto;
          margin-bottom: 5px;}
          
        
         
          .figure-logo > img-fluid{margin-left: -800px;
                      height: auto;
                    
                   }
                   
           
            
   
 

  .h1-title-site{font-family: var(--h1-title-site);
                 margin-top: -180px;
                 font-size: 4.8rem;
                 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
                 
                   }


   
                 
                   .menu {
                    display: none; /* Começa oculto */
                }
        
                .toggle-button {
                    padding: 20px 20px;
                    cursor: pointer; /* Adiciona um cursor ao botão para indicar que é clicável */
                    background-color:#118EBF;
                    border: solid 5px    #808080;
                    margin-left: 1080px;
                    margin-top: -120px;
                    position: absolute;
                }
        
                a {font-size: 16px;
                  font-weight: bolder;
                    color: black;
                    list-style-type: none;
                    text-decoration: none;
                    padding: 20px 40px;
                    background-color: #118EBF;
                    margin-top:300px;
                    border: solid 3px #8C0383;
                }

                a:hover{background-color: #79328C;
                        border: solid 3px #118EBF;
                         color: #000;}


        
                /* Estilo para o menu aberto */
                .menu.open {
                    display: block; /* Mostra o menu quando a classe 'open' é aplicada */
                }
           
           
                .material-symbols-outlined {
                    font-variation-settings:
                    'FILL' 0,
                    'wght' 400,
                    'GRAD' 0,
                    'opsz' 24;
                   
                }             
  
  
  

           
         
   

    
   
   
  
  
 
  
  
               
             
            
 