
@media (min-width:211px) and (max-width:577px){

    body{background-color: #e6e6b5;}
}



@media (min-width:578.98px) and (max-width:978px){

    body{background-color: red;}

    header {
        padding: 20px;
      }
}

@media (min-width:979.98px) and (max-width:1199.98px){

    body{background-color:red;}

    .figure-logo > img{max-width: 100%;}
}





 @media (min-width:1199.98px) and (max-width: 1399.98px){
    body{
      font-size: 14px;
      color: #555;
      background-color:aliceblue;
    }
  }

   

